/trusted-platform
**/*.pb.go
**/*.log
**/*.bin
**/*.pub
**/*.key
**/*.pkcs1
**/*.pkcs8
**/*.cer
**/*.crt
**/*.sig
**/*.crl
**/*.luks*
db/
logs/
ca/certs
tpm2/certs
attestation/attestor/trusted-data
attestation/attestor/logs
attestation/attestor/config.yaml
attestation/verifier/trusted-data
attestation/verifier/logs
attestation/verifier/config.yaml
python-venv/
tpadm
./config.yaml
./pkg/config.yaml
pkg/public_html
pkg/trusted-data
trusted-data
build/packer/output-arm-image/
build/packer/packer_cache/
build/packer/trusted-platform-*
trusted-platform.iso
